
@mixin context_side_style {
    & {
        div.heading {
            padding: 10px 16px;

            display: flex;
            align-items: center;
            align-self: stretch;   
            
            h3 {
                color: #000;
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 4px;                
            }
        }    

        ul.menu1 {
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            li {
                height: 43px;
                padding-left: 16px;
                cursor: pointer;

                transition: all 0.4s;

                display: flex;
                align-items: center;
                gap: 10px;
                align-self: stretch;      
                
                p {
                    color: #757575;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;                    
                }

                .ic {
                    color: #000;   
                    
                    &:nth-of-type(1) {
                        width: 10.002px;
                        height: 14.004px;                        
                    }

                    &:nth-of-type(2) {
                        width: 18.004px;
                        height: 14.004px;   
                        
                        display: none;
                    }
                }

                &:nth-of-type(3) {
                    p {
                        color: #000;
                    }
                }
            }

            ul.menu11 {
                margin: 0;
                padding: 0;
                
                transition: all 0.6s;
                overflow: hidden;
                height: 0;

                // display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;   

                display: none;
                
                li {
                    height: 38.5px;
                    padding-left: 40px;
                    cursor: pointer;

                    transition: all 0.4s;

                    display: flex;
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;      
                    
                    // outline: 3px solid red;
                    
                    p {
                        color: #757575;
                        font-family: Roboto;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;                        
                    }

                    .ic {
                        color: #000;   
                        
                        &:nth-of-type(1) {
                            width: 10.002px;
                            height: 14.004px;                        
                        }
    
                        &:nth-of-type(2) {
                            width: 18.004px;
                            height: 14.004px;         
                            
                            display: none;                            
                        }
                    }   
                }

                &.open {
                    height: 154px; 
                }
            }
        }

        ul.menu2 {
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;      
            
            li {
                height: 38.5px;
                padding-left: 16px;
                cursor: pointer;

                transition: all 0.4s;

                display: flex;
                align-items: center;
                align-self: stretch;     
                
                p {
                    color: #000;
                    font-family: Roboto;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;                    
                }
            }
        }

        li:hover {
            background: #ccc;

            p {
                color: #000 !important;
            }
        }            
    }
}


div.main_HorizontalBar2Context {
    width: 100%;
    max-width: 1200px;

    display: flex;
    align-items: flex-start;

    // outline: 3px solid red;

    div.context_side {
        width: 250px;
        height: 100vh;
        overflow-y: scroll;
        
        position: sticky;
        top: 0;
        left: 0;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
        flex-shrink: 0;   

        // outline: 3px solid blue;

        @include context_side_style;
    }

    div.context_side_collapse {
        width: 100%;
        height: 100vh;

        transition: all 0.7s;
        opacity: 0;

        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;

        // display: flex;
        align-items: flex-start;   
        
        display: none;

        div.overlay {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.40);

            position: absolute;
            top: 0;
            left: 0;
        }
        
        div.context_side {
            width: 250px;
            height: 100vh;
            background: #FFF;
            
            z-index: 4;
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 64px;
            flex-shrink: 0;

            @include context_side_style;

            div.heading {
                padding: 15px 16px;
    
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;   
                
                h3 {
                    color: #000;
                    font-family: Montserrat;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 4px;                
                }

                .ic {
                    color: #000;
                    width: 22px;
                    height: 22px;
                    cursor: pointer;

                    transition: all 0.4s;

                    &:hover {
                        color: grey;
                    }
                }
            }  
        }

        &.open {
            opacity: 1;
        }
    }

    div.newsletter {
        width: 100%;
        height: 100%;

        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;

        transition: all 0.7s;
        opacity: 0;

        // display: flex;
        padding-top: 150px;
        flex-direction: column;
        align-items: center;    
        
        display: none;
        
        div.overlay {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.40);

            position: absolute;
            top: 0;
            left: 0;

        }

        div.panel {
            width: 90%;
            max-width: 900px;
            box-sizing: border-box;
            padding: 30px 40px 50px 40px;
            background: #FFF;            

            z-index: 6;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 15px;      
            
            .ic {
                color: #000;
                width: 35px;
                height: 35px;  
                cursor: pointer;
                
                transition: all 0.4s;

                &:hover {
                    color: grey;
                }
            }

            div.panel_body {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                align-self: stretch;    
                
                h3 {
                    color: #000;
                    font-family: Montserrat;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 4px;                    
                }

                p {
                    align-self: stretch;        
                    
                    color: #000;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;                    
                }

                input {
                    height: 38.5px;
                    border: 1px solid #CCC;
                    background: #FFF;                    

                    display: flex;
                    padding-left: 15px;
                    align-items: center;
                    align-self: stretch;                    

                    color: #000;
                    font-family: Montserrat;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;                    
                }

                button {
                    padding: 12px 24px;
                    background: #F44336;
                    cursor: pointer;

                    transition: all 0.4s;

                    display: flex;
                    justify-content: center;
                    align-items: center;   
                    
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;    
                    
                    &:hover {
                        color: #000;
                        background: #ccc;
                    }
                }
            }
        }

        &.open {
            opacity: 1;
        }
    }

    div.context_main {
        width: calc(100% - 250px); 
        box-sizing: border-box;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;    
        
        div.context_side_nav {
            width: 100%;
            height: 70px;
            box-sizing: border-box;
            padding: 20px;
            background: #000;

            z-index: 2;
            position: fixed;
            top: 0;
            left: 0;

            // display: flex;
            justify-content: space-between;
            align-items: center;   

            display: none;
            
            h3 {
                color: #FFF;
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 4px;                
            }

            .ic {
                cursor: pointer;
                margin-right: 10px;

                transition: all 0.4s;
                
                color: #FFF;
                width: 30px;
                height: 25px;
                
                &:hover {
                    color: lightgrey;
                }
            }
        } 
        
        div.spacer {
            height: 0;
        }
    }
}



@mixin screen320 {
    div.main_HorizontalBar2Context {
        div.context_side {
            display: none;
        }

        div.newsletter {
            div.panel {
                div.panel_body {
                    h3 {
                        font-size: 24px;                        
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }

        div.context_main {
            width: 100%;

            div.context_side_nav {
                display: flex;
            }

            div.spacer {
                height: 70px;
            }
        }
    }
}


@mixin screen600 {
    @include screen320;

    div.main_HorizontalBar2Context {
        div.newsletter {
            div.panel {
                div.panel_body {
                    h3 {
                        font-size: 30px;                        
                    }

                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}



/* Extra small devices (phones, below 600px) */
@media only screen and (min-width: 320px) and (max-width: 599.9px) {
    @include screen320;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767.9px) {
    @include screen600;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.9px) {

} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {

} 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1535.9px) {

} 
